body {
    font-family: Poppins;
}
.icon {
    width: 19px;
    height: 19px;
}
.Influencer {
    font-size: 24px;
    font-weight: 700;
}
.pry-des{
    color: rgb(217, 219, 225);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
}
/* nav bar start  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 85px 120px;
    
}

.manu {
    display: flex;
    gap: 34px;
    font-size: 16px;
    font-weight: 600;
}

.link-page>a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}
main{}
/* sponsor */

.sponsor{
    display: flex;
    justify-content: space-around;
    margin: 50px 165px;
}

/* footer start */ 
.footer{
    width:100%;
 
    background: #0A0826;
    color: white;
    text-align: center;
     padding:50px 0px;
     gap: 5px;
}
.f-icon > img{
     padding: 0px 20px;
}
.footer>h3{
    font-size: 24px;
font-weight: 700;
}
/* small device */

@media screen and (max-width : 576px) {
    .nav-container
    , .manu
    {
        text-align: center;
        flex-direction: column;
    } 
    .sponsor{
        flex-wrap: wrap;
        gap: 16px;
    }
    .sponsor > img{
        width: 60px;
height: 20px;
    }
}


/* midiam device   */
@media (min-width: 576px) and (max-width: 768px){
    .nav-container
    , .manu
    {
        text-align: center;
        flex-direction: column;
    } 
    .sponsor{
        flex-wrap: wrap;
      gap: 30px;
       
    }
    

}