body {
    font-family: Poppins;
    margin: 0px;
}

.icon {
    width: 19px;
    height: 19px;
}

.Influencer {
    font-size: 24px;
    font-weight: 700;
}

.Wordwide {
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
}

.pry-des {
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
}

/* nav bar start  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 85px 120px;

}

.manu {
    display: flex;
    gap: 34px;
    font-size: 16px;
    font-weight: 600;
}

.link-page>a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

/* main banner  */
.banner-container {
    display: flex;
    margin: 90px 120px;
    justify-content: space-between;
    align-items: center;
}

.banner-titel {
    font-size: 52px;
    font-weight: 700;
    margin: 0px;
}

.b_button {
    border-radius: 41px;
    padding: 10px 24px 10px 24px;
    background: rgb(224, 44, 109);
    color: white;
    display: flex;
    text-align: center;
    border: none;

}

.b_button>img {
    width: 30px;
    height: 20px;
    padding-left: 15px;
}

.cam {
    position: relative;
    z-index: 3;
    bottom: -20px;
    right: -25px;
    width: 430px;
    height: 404px;
}

.ring {
    position: absolute;
    z-index: 2;
    width: 440px;
    height: 455px;
}

/* sponsor */

.sponsor {
    display: flex;
    justify-content: space-around;
    margin: 50px 165px;
}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 165px;

}

.future {
    font-size: 38px;
    font-weight: 700;
}

.future-img {
    width: 404px;
    height: 270px;
}

.future-titel {
    padding-left: 6%;
}

/* products section  */

.Popular  {
    font-size: 28px;
font-weight: 600;
text-align: center;
}

.products-section {
    margin: 30px 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

 
.main-container {
    width: 329px;
    justify-content: center;
    align-items: center;
    height: 476px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 16px;
}

.products-image {
    width: autopx;
    height: 256px;

}

.products-name {
    font-size: 2rem;
    font-weight: 800;

}

.pr-des {
    font-size: 14px;
    font-weight: 700;
    color: rgb(120, 120, 133);
}

.price {
    font-size: 24px;
    font-weight: 400;
}









/* footer start */
.footer {

    width: 100%;

    background: #0A0826;
    color: white;
    text-align: center;
    padding: 50px 0px;
    gap: 5px;
}

.f-icon>img {
    padding: 0px 20px;
}

.footer>h3 {
    font-size: 24px;
    font-weight: 700;
}

/* small device */

@media screen and (max-width : 576px) {

    .nav-container,
    .manu {
        text-align: center;
        flex-direction: column;
        margin-top: 0px;

    }

    .featured {
        padding: 0px;
        flex-direction: column-reverse;
    }

    .future-titel {
        padding: 0%;
        margin-bottom: 30px;
    }

    .future-img {
        width: 299px;
        height: 188px;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin: 30px 20px;
        text-align: center;

    }

    .b-container {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .cam {

        width: 202px;
        height: 190px;


    }

    .ring {

        width: 257px;
        height: 257px;
    }

    .b-img {

        margin-bottom: 90px;
    }

    .sponsor
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 20px;


    }

    .products-section{
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
    } 

    .footer {
        max-width: 576px;
    }

}


/* midiam device   */
@media (min-width: 576px) and (max-width: 768px) {

    .nav-container,
    .manu {
        text-align: center;
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin: 30px 20px;
        text-align: center;

    }

    .b-img {

        margin-bottom: 90px;
    }

    .b-container {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .sponsor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 20px;


    }

    .featured {
        padding: 0px;
        flex-direction: column-reverse;
    }

    .future-titel {
        padding: 0%;
        margin-bottom: 30px;

        .sponsor {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

        }


    }